<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435481162851-dkp9hvdvkbi6gcl0kd3a36nt1e75qu4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435481162851-dkp9hvdvkbi6gcl0kd3a36nt1e75qu4e</string>
	<key>API_KEY</key>
	<string>AIzaSyBAbcs6KpQIiAmb_hVkaVwbSy3TG5ZIbr8</string>
	<key>GCM_SENDER_ID</key>
	<string>435481162851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farmges</string>
	<key>PROJECT_ID</key>
	<string>farm-ges</string>
	<key>STORAGE_BUCKET</key>
	<string>farm-ges.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435481162851:ios:2fd611142d28974cca7456</string>
</dict>
</plist>